<br>
<br>
<div class="container">
    <table class="table table-bordered" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif; font-weight:600">
         <thead>
            <tr>
              <th style="text-align:center; color:#20c997; font-size:x-large">Chăm sóc thú cưng</th>            
            </tr>
         </thead>
         <tbody>
             <tr>
              <th scope="row">Tắm gội cho thú cưng </th>
              <td>100.000đ</td>     
            </tr>
            <tr>
              <th scope="row">Cắt tỉa móng tay móng chân </th>
              <td>70.000đ</td>     
            </tr>
            <tr>
              <th scope="row">Cắt tóc tạo kiểu lông thú cưng</th>
              <td>200.000đ</td>     
            </tr>
            <tr>
              <th scope="row">Massage cho thú cưng </th>
              <td>500.000đ</td>     
            </tr>
            <tr>
              <th scope="row">Dịch vụ đặc biệt</th>
              <td>1.000.000đ</td>     
            </tr>
         </tbody>
    </table>
</div>