<br />
<section>
    <nav>
        <div class="container">
            <div class="card">
                <div class="card-header bg-black"></div>
                <div class="card-body">

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <i class="far fa-building text-danger fa-6x float-start"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <ul class="list-unstyled float-end">
                                    <li style="font-size: 30px; color: red;">Fpoly PET</li> <br />
                                    <li>Đ/c : Fpt Polytechnic,Hà Nội</li>
                                    <li>Khách hàng : Customer</li>
                                    <li>Thu ngân : Admin</li>
                                    <li>Ngày mua hàng : </li>
                                    <li>Ghi chú : ....</li> 
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="">
                            <h3 class="abc" style="font-size: 40px; text-align:center">Hóa đơn thanh toán</h3>
                        </div>

                        <div class="row mx-3">
                            <table class="table" style="border: 1px solid #C7E8CA">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col" >Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sữa bột cho mèo</td>
                                        <td>1</td>
                                        <td><i class="fas fa-dollar-sign"></i> 100,000đ</td>
                                        <td><i class="fas fa-dollar-sign"></i> 100,000đ</td>
                                    </tr>
                                    <tr>
                                        <td>Đồ chơi cho chó</td>
                                        <td>1</td>
                                        <td><i class="fas fa-dollar-sign"></i> 200,000đ</td>
                                        <td><i class="fas fa-dollar-sign"></i> 200,000đ</td>
                                    </tr>
                                    <tr>
                                        <td>Dung dịch vệ sinh</td>
                                        <td>1</td>
                                        <td><i class="fas fa-dollar-sign"></i> 300,000đ</td>
                                        <td><i class="fas fa-dollar-sign"></i> 300,000đ</td>
                                    </tr>
                                    <tr>
                                        <td>Thức ăn cho chim</td>
                                        <td>1</td>
                                        <td><i class="fas fa-dollar-sign"></i> 400,000đ</td>
                                        <td><i class="fas fa-dollar-sign"></i> 400,000đ</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <ul class="list-unstyled float-end me-0">
                                    <li>
                                        <span class="me-3 float-start" >Tổng tiền :</span><i class="fas fa-dollar-sign"></i> 100000
                                    </li>
                                    <li> <span class="me-5"> Giảm giá :</span><i class="fas fa-dollar-sign"></i> 500</li>

                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-8" style="margin-left:30px">
                                <p class="float-end"
                                   style="font-size: 30px; color: red; font-weight: 300;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    Tổng tiền phải trả :
                                    <span><i class="fas fa-dollar-sign"></i> 500</span>
                                </p>
                            </div>
                        </div>

                        <div class="">
                            <p style="text-align:center">Xin cảm ơn và hẹn gặp lại !</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-black"></div>
            </div>
        </div>
    </nav>
</section>