@using UI.ViewModels
@model AccountVM
<br>
<div class="container">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-controller="Home" asp-action="Login">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="loginName" class="form-control" placeholder="Tài Khoản *" ng-required="true" asp-for="Email" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="loginPassword" class="form-control" placeholder="Mật Khẩu *" asp-for="Pass" />
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="loginCheck" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button asp-controller="Home" type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0"> Don't have an account? 
                                <a asp-controller="Home" asp-action="Register" class="link-danger">Register</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>