@model List<SanPham>

<div class="container">  
        <div >
            <form id="form_create_product">
                <h2 style="text-align: center; font-weight: 800;">Quản lý sản phẩm</h2>
                <input type="text" style="display: none" />
                <label>Tên sản phẩm</label>
                <input type="text" class="form-control" required/>
                <br />
                <label>Số lượng</label>
                <input type="text" class="form-control" required/>
                <br />
                <label>Giá nhập</label>
                <input type="text" class="form-control" required/>
                <br />
                <label>Giá bán</label>
                <input type="text" class="form-control" id="giaBan"/>
                <br />
                <label>Mô tả</label>
                <textarea class="form-control" id="my-textarea" name="" rows="3"></textarea>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        style="margin: 10px">Thêm</button>
                </div>
            </form>
            <br>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Thể loại</td>
                            <td>Danh mục</td>                       
                            <td width="200">Action</td>                             
                        </tr>
                    </thead>         
                    <tbody>
                        @foreach (var item in Model)
                       {
                            <tr>
                            <td>@item.Id</td>
                            <td>@item.TheLoai</td>
                            <td>@item.DanhMuc</td>
                            <td>
                                <button type="button" class="btn btn-success"> Sửa </button>         
                                <button type="button" class="btn btn-danger"> Xoá </button> 
                            </td>                              
                        </tr>
                       }                
                    </tbody>                   
                </table>
            </div>
        </div>
</div>
