<div class="container">  
        <div ng-controller="qlsp">
            <form id="form_create_product">
                <h2 style="text-align: center; font-weight: 800;">Quản lý sản phẩm</h2>
                <input type="text" style="display: none" />
                <label>Tên sản phẩm</label>
                <input type="text" class="form-control" required/>
                <br />
                <label>Số lượng</label>
                <input type="text" class="form-control" required/>
                <br />
                <label>Giá nhập</label>
                <input type="text" class="form-control" required/>
                <br />
                <label>Giá bán</label>
                <input type="text" class="form-control" id="giaBan"/>
                <br />
                <label>Mô tả</label>
                <textarea class="form-control" id="my-textarea" name="" rows="3"></textarea>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        style="margin: 10px">Thêm</button>
                </div>
            </form>
            <br>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Tên</td>
                            <td>Số lượng</td>
                            <td>Giá nhập</td>
                            <td>Giá bán</td>
                            <td>Miêu tả</td>        
                            <td>Action</td>                             
                        </tr>
                    </thead>         
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-danger"> Sửa </button>         
                                <button type="button" class="btn btn-danger"> Xoá </button> 
                            </td>                              
                        </tr>
                    </tbody>                   
                </table>
            </div>
        </div>
</div>
